{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4", style="padding: 3cm;">
        <div class="content-section">
            <p>What would you like to do?
            <ul class="list-group">
                <li class="list-group-item list-group-item">View the history of my booked cars</li>
                <li class="list-group-item list-group-item">Search cars / Book a car</li>
                <li class="list-group-item list-group-item">Cancel a booking</li>
                <li class="list-group-item list-group-item">Logout</li>
            </ul>
            </p>
        </div>
    </div>
</div>
{% endblock content %}