{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4", style="padding: 3cm">
        <div class="content-section">
            <p>What would you like to do?
            <ul class="list-group">
                <li class="list-group-item"><a href="" style="text-decoration:none;outline: none;color: black;">View the history of my booked cars</a></li>
                <li class="list-group-item"><a href="{{ url_for('site.booking') }}" style="text-decoration:none;outline: none;color: black;">Search cars / Book a car</a></li>
                <li class="list-group-item"><a href="" style="text-decoration:none;outline: none;color: black;">Cancel a booking</a></li>
                <li class="list-group-item"><a href="" style="text-decoration:none;outline: none;color: black;">Logout</a></li>
            </ul>
            </p>
        </div>
    </div>
</div>
{% endblock content %}